.button,
.active {
    border: none; 
    outline: none;
    background-color: inherit;
    margin: 0 14px;
    color: #000;
    opacity: 0.3;
}

.button:hover {
    cursor: pointer;
}

.active{
    color: #000;
    opacity: 1;
}