.title {
    margin: 103px auto;
  }
  
  .table {
    width: 1200px;
    margin: 28px auto;
  }
  
  .select {
    margin-left: 120px;
    display: flex;
  }
  
  .pagination {
    margin-bottom: 300px;
    margin-left: 1100px;
  }