.blocks{
  display: grid;
  grid-row-gap: 30px;
  padding: 40px;
  border: solid;
  align-items: center;
}

.title {
  border: solid;
  text-align: center;
  width: fit-content;
  align-self: center;
  }
  
  .table { 
  }
  
  .select {
  }
  
  .pagination {
    border: solid;
    width: fit-content;
    justify-self: flex-end;
  }