.title {
  margin: 103px auto;
  text-align: center;
}

.block {
  height: auto;
  margin: 0 auto 200px;
  display: flex;
  justify-content: space-between;
  padding: 40px;

}

.block__side {
  width: 600px;

}
.block__side > div{
  padding: 10px;
}